---
layout: default_2013
title: Home
---

<div class="slide headline container initial ">
	<div class="grid_12 header-unit clearfix ">
		<h1>Code<span style="font-size:84px">//</span>Art</h1>
	</div>
</div>

{% include front_page_section.html   id="emergence" header="Artsy Shows"    subtitle="TV, Shows." title="100% Transparency"   body="<p>Working with <a href='http://twitter.com/owen_dodd'>Owen Dodd</a> and <a href='https://www.facebook.com/katarina.batina'>Katarina Batina</a> we created a beautiful way to experience current exhibitions from galleries and museums around the world on your TV.</p><p>Small scope, tight deadline and a great working design/dev relationship.</p>"   button1url="https://github.com/artsy/emergence/"   button1text="GitHub" %}

{% include front_page_section.html   id="oss"       header="Open Source By Default"    subtitle="If no one says 'no', keep going." title="Radical Openness"   body="<p>With help from <a href='http://code.dblock.org'>Daniel Doubrovkine</a> I transformed the Artsy Mobile team to be Open Source by default.</p><p>We started small, and over the course of a year I made a lot of hard calls and eventaully came out with all of our apps available for others to learn from.</p>"  button1url="https://github.com/artsy/mobile/"   button1text="Mobile Team" button2url="https://www.objc.io/issues/22-scale/artsy/"   button2text="objc.io"  %}

{% include front_page_section.html   id="gifs"       header="GIFs.app"    subtitle="Find GIFs easily."    title="The most distracting app to work on"  body="<p>Over the course of years, me and a bunch of internet random contributors eventually shipped a Mac app for quickly finding GIFs.</p><p>Took far too long to make.</p>"  button1url="https://github.com/orta/GIFs/"   button1text="GitHub" button2url="!!!!"   button2text="App Store" %}

{% include front_page_section.html   id="eidolon"   header="Eidolon"    subtitle="On-site Kiosk App"    title="An experiment in Open Source"   body="<p>I worked with <a href ='http://ashfurrow.com'/>Ash Furrow</a>, <a href='https://www.facebook.com/katarina.batina'>Katarina Batina</a> and <a href='https://twitter.com/1aurabrown'>1aura Brown</a>. We built an app for browsing works, swiping cards and making auction bids. We did it in Swift, <a href='https://github.com/artsy/eidolon'>in the Open</a>.</p>"   button1url="https://github.com/artsy/eidolon/"   button1text="Github Repo" %}

{% include front_page_section.html   id="armory"    header="Artsy 1.3 - Fairs"    subtitle="Locating the Fair"    title="Mapping the booths"   body="<p>I worked with <a href ='http://robb.is'/>Rob Bohnke</a>, <a href='http://dblock.org'>dB.</a>, <a href='https://twitter.com/1aurabrown'>1aura Brown</a> and <a href='https://www.facebook.com/katarina.batina'>Katarina Batina</a>. We made the fair experience mobile. Opening out with The Armory Fair 2014, and moving around the world.</p>"   button1url="http://iphone.artsy.net"   button1text="App Website" %}

{% include front_page_section.html   id="cocoapods" header="CocoaPods"    subtitle="The Cocoa Dependency Manager"    title="Design Dictating"   body="<p>Consolidate the documentation, helped create the brand. The tentpole project for Open Source in iOS/Mac/watchOS/tvOS world.</p><p>Built with <a href ='http://andy-myers.co.uk'>Andy Myers</a>, <a href='http://florianhanke.com'>Florian Hanke</a> &amp; the <a href='http://cocoapods.org/about'>CocoaPods Team</a>."   button1url="http://cocoapods.org"   button1text="Website" %}

{% include front_page_section.html   id="artsy"     header="Artsy for iOS"    subtitle="The art world in your pocket"    title="Browsing Artworks in Style"   body="<p>Got $100,000 to spend on Artworks? Or just happen to be interested in exploring the art world. This app has you covered.</p><p>Featured weekly in the App Store globally, entirely Open Source.</p><p>Initially built with <a href ='http://robertlenne.com'>Robert Lenne</a> &amp; <a href='http://speednoisemovement.com'>Leonard Grey</a>.</p>"   button1url="https://itunes.apple.com/us/app/artsy-art-world-in-your-pocket/id703796080?ls=1&mt=8"   button1text="App Store"  button2url="http://iphone.artsy.net"   button2text="Website"  %}

{% include front_page_section.html   id="cocoadocs" header="CocoaDocs"    subtitle="Documentation, yawn, boring."    title="Your code, publicly documentated."   body="<p>My initial dive into large scale OSS projects is CocoaDocs. CocoaDocs would host every CocoaPods' documentation for free, automatically.</p>"   button1url="http://cocoadocs.org"   button1text="Website" %}

{% include front_page_section.html   id="putio"     header="PutIO For iOS"    subtitle="Easy stream movies"    title="Put.IO is a hosted torrent service"   body="<p> Put.IO for iOS <i>was</i> a universal app that aims for the best user experience on the app store. It has iCloud syncing, in-app search and 16 language subtitle support. At last check the app has streamed over 100000 hours of video.</p><p>And is totally open source. Shame though, Apple stopped allowing it through the review process. So it's not on the App Store anymore.</p>"   button1url="https://github.com/orta/Puttio/"   button1text="GitHub"  button2url="http://orta.io/Puttio"   button2text="Website"  %}

{% include front_page_section.html   id="folio"     header="Artsy Folio"    subtitle="A beautiful portfolio"    title="Folio brings all the galleries into the yard"   body="<p>I worked with <a href ='http://robertlenne.com'>Robert Lenne</a>, <a href='http://90wpm.com/hello'>Benjamin Jackson</a> and <a href='http://speednoisemovement.com'>Leonard Grey</a>. To make a stunning portfolio app for museums and art galleries around the world.</p><p>Folio deals with downloading gigabytes of images and metadata. The app exposes no Apple styled views unobtrusively leaving the content itself to make its own statements. Lots of cool animations.</p>"   button1url="https://itunes.apple.com/us/app/art.sy-folio/id504862164?mt=8&uo=4"   button1text="App Store"  button2url="http://folio.artsy.net"   button2text="Website"  %}

{% include front_page_section.html   id="mixtapes"  header="Mixtapes"    subtitle="Curate playlists"    title="Create Mixtapes using Spotify"   body="<p> Mixtapes was created so I could make new playlists for friends that could change as we change. I update my Mixtapes for a certain someone weekly.</p><p>Free, open source &amp; needs a paid Spotify account.</p>"   button1url="http://itunes.com/app/Mixtapes"   button1text="App Store"  button2url="https://github.com/orta/mixtapes/"   button2text="GitHub"  %}

{% include subheading.html title="writing" %}

 <div class="slide container">
   <div class="clearfix grid_6 project">
		 <h2>Cocoa Architecture</h2>

		 <ul style="padding:30px;">
			 <li><a href="">How to do iOS testing via Snapshots</a></li>
			 <li><a href="">Dropped Design Patterns</a></li>
			 <li><a href="">Hybrid Apps</a></li>
			 <li><a href="">Switchboard Pattern</a></li>
			 <li><a href="">How Artsy chooses dependencies</a></li>
			 <li><a href="">Router Pattern</a></li>
			 <li><a href="">Testing Core Data Migrations</a></li>
			 <li><a href="">Building the Xcode Plugin Snapshots</a></li>
		 </ul>

   </div>

	 <div class="clearfix grid_6 omega project">
		 <h2>Open Source / Culture</h2>
		 <ul style="padding:30px;">
			 <li><a href="">iOS at Scale: Artsy</a></li>
			 <li><a href="">How we Open Source'd Eigen</a></li>
			 <li><a href="">Open Sourcing Energy</a></li>
			 <li><a href="">Artsy's First Closed Source Pod</a></li>
		 </ul>
   </div>
 </div>

{% include subheading.html title="opensource" %}

<div class="slide container project">
  <div class=" clearfix grid_3 ">
	<h2>Specta/Expecta</h2>
	<p>I took over maintainance of <a href="https://github.com/specta/specta/">Specta</a> and <a href="https://github.com/specta/expecta/">Expecta</a>, the  BDD testing frameworks for the Cocoa community.</a>
  </div>

  <div class="clearfix grid_3">
	<h2>RxSwift</h2>
	<p>I provide an odd, but interesting, mentorship role to the <a href="https://github.com/ReactiveX/RxSwift/">RxSwift project</a>.</p>
  </div>

  <div class=" clearfix grid_3 omega">
	<h2>Swift at Artsy</h2>
	<p>Resources for 2 learn Swift courses for anyone to run in their own company.</p>
  </div>

  <div class="clearfix grid_3">
	<h2>Coalition For Queens</h2>
	<p>I help out at a <a href="http://c4q.nyc">charity</a> bringing new people into the tech sphere in NYC.</p>
  </div>
</div>

<div class="slide container project">
  <div class=" clearfix grid_3 ">
	<h2>CocoaPods Quality Metrics</h2>
	<p>I spent a year talking and figuring out how to provide useful metrics on the quality of a library in the Cocoa ecosystem.</a>
  </div>

  <div class="clearfix grid_3">
	<h2>CocoaPods Stats</h2>
	<p>CocoaPods became the first dependency manager to actually say how many projects are using your library. Others provide raw download numbers which are easily skewed.</p>
  </div>

  <div class=" clearfix grid_3">
	<h2>CocoaPods Mac App</h2>
	<p><a href="https://twitter.com/alloy">alloy</a> did the hard work on making it host the environment, which is the hard bit.</p><p>I just made it look and feel good.</p>
  </div>

  <div class="clearfix grid_3 omega">
	<h2>CocoaPods Embedded Search</h2>
	<p>The CocoaPods website now provides enough information that you don't need to open the homepage of a Pod to make a decision on it's value.</p>
  </div>
</div>

<div class=" clearfix grid_12"></div>

<div class="slide container project">
  <div class="clearfix grid_3 ">
	<h2>Cocoa Kucha / Komitteee</h2>
	<p><a href="http://blog.cocoapods.org/Cocoa-Kucha">Global</a> <a href="http://blog.cocoapods.org/Cocoa-Kucha-2">community</a> <a href="http://blog.cocoapods.org/Cocoa-Kucha-3-Berlin">outreach</a>. Hanging out with cool CocoaPods users around the world and requesting that they talk about their work.</p>
  </div>

	<div class="clearfix grid_3 ">
	<h2>CocoaPods Guides</h2>
	<p>I consolidated all of the CocoaPods documentation, and reference materials into a <a href="http://guides.cocoapods.org">single website</a>.</p>
  </div>

  <div class="clearfix grid_3">
	<h2>AppCode Settings</h2>
	<p>A <a href = "https://github.com/orta/AppCode">maintained and opinionated collection</a> of settings for AppCode. You should experiment with it.</p>
  </div>

  <div class="clearfix grid_3 omega">
	<h2>Life issues</h2>
	<p>I started keeping track of things I need to do in <a href="https://github.com/orta/life">a github life</a> issues. You should too.
	</p>
  </div>
</div>

<div class=" clearfix grid_12"></div>

<div class="clearfix slide container project" style="margin-top:64px;">
  <div class="grid_3 clearfix">
    <h2>pt</h2>
    <p><a href="https://github.com/raul/pt">pt</a> is a gem that is a command line interface to pivotal tracker. It's a much faster way to create new issues, and to get an overview of your things to do.</p>
  </div>

  <div class=" clearfix grid_3">
    <h2>ARAnalytics</h2>
    <p>A <a href ="https://github.com/orta/ARAnalytics">generic API</a> for different analytics platforms on iOS. A useful library used in 5 apps of mine now.</p>
  </div>

	<div class=" clearfix grid_3">
	<h2>ORStackView</h2>
	<p>You can't trick me. It's stacks all the way down. <a href="https://github.com/orta/ORStackView">Artsy's iOS app lives by this motto.</a></p>
	<p>Apple deprecated me - whoooo!</p>
  </div>

  <div class=" clearfix grid_3 omega">
    <h2>chairs</h2>
    <p>Chairs makes <a href ="https://github.com/orta/chairs">hot-swapping iOS simulator app directories</a> easy. Dealing with migrations and large syncs is now not so time consuming.</p>
  </div>

<div class=" clearfix grid_12"></div>

<div class="slide container project">
  <div class=" clearfix grid_3 ">
    <h2>WibbleQuest</h2>
    <p>I wrote a <a href="http://wibblequest.com">text adventure game framework</a> to help kids learn objective-c. I nowadays I make people presents in the form of simple games with this.</p>
  </div>

  <div class=" clearfix grid_3">
    <h2>SpeedS@ver</h2>
    <p>A <a href = "https://github.com/orta/SpeedS-ver">screensaver for the Mac</a> showing people completing videogames so you don't have to.</p>
  </div>

  <div class=" clearfix grid_3 omega">
    <h2>Wallpapers</h2>
    <p>The easiest way to set your desktop background to some <strong>awesome</strong> wallpapers. Powered by the reddit search from GIFs. <a href="https://github.com/orta/Wallpapers">Check it here.</a></p>
  </div>

  <div class=" clearfix grid_3">
    <h2>NSManchester</h2>
    <p>I used to run a meetup in manchester called <a href="http://nsmanchester.github.io">NSManchester</a>. Then I moved to NYC.
    </p>
  </div>

</div>

{% include subheading.html title="human" %}

<div class="slide" >
	<div class="container clearfix">
		<div class="grid_4">
      <img src="http://ortastuff.s3.amazonaws.com/site/images/kkkl320.png" width="100%" height="100%" alt="OK COOL">
    </div>

		<div class="grid_5">
      <h4>whoami?</h4>
      <p>ortatherox NYC/UK</p>
			<p>Head of Mobile at <a href="https://artsy.net">Artsy</a></p>
      <p><a href="mailto:orta.therox@gmail.com">orta.therox@gmail.com</a></p>
      <p>I rarely blog here: <a href="http://orta.io/rebase">orta.io/rebase</a></p>
      <p>I write technical here: <a href="http://artsy.github.com">artsy.github.com</a></p>
      <p>I make stuff here: <a href="http://github.com/orta">github.com/orta</a></p>
      <p>I natter here: <a href="http://twitter.com/orta">twitter.com/orta</a></p>
    </div>
		<div class="grid_3 omega">
      <h4>non-technical bestof?</h4>
      <ul>
        <li>On being <a href="http://orta.github.com/on/being/23/">23</a>, <a href="http://orta.github.com/on/being/24/">24</a>, <a href="http://orta.github.com/on/being/25">25</a>,  <a href="http://orta.github.com/on/being/26/">26</a>, <a href="http://orta.github.com/on/being/27">27</a> & <a href="http://orta.github.com/on/being/28">28</a>.</li>
        <li><a href="http://orta.github.com/on_making/iphone/games/">old, old iPhone games</a></li>
        <li><a href="http://kieronononon.heroku.com">My old band of 7 years, Kieronononon</a></li>
        <li><a href="http://orta.github.com/rebase/on/overusing/keyboards/">Essential keyboard shortcuts</a></li>
      </ul>
    </div>

  </div>
</div>


{% include subheading.html title="okalldonebyetweetmexxx" %}

<center>
	<p><a href="http://twitter.com/orta"><img src="http://ortastuff.s3.amazonaws.com/site/images/twitter_black.png"></a></p>
</center>
