html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,
dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

html {
  background: #FFF;
  color: #000;
  margin: auto 0px;
}

body {
  font: 12px/18px Helvetica, Arial, sans-serif;
  overflow-x:  hidden;
}

.dev_notes{
  display: none;
}

header, nav, footer, section, /* convert some html5 elements into structural elements */
aside, figure {
  display: block;
}

mark{
  display: inline;
  background-color: #F29418;
  color: black;
}

article {
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  display: inline;
}

nav li {
  display: inline;
}

nav li:hover:after {
  content: ' \00b7';
}
nav li:hover:before {
  content: ' \25B8 ';
}

nav {
  display: block;
  position: absolute;
  top: -45px;
  height: 68px;
  -webkit-transition: all 1s linear;
  opacity: 0.4;
  filter: alpha(opacity=40)
}

nav:hover {
  top: -15px;
  opacity: 1;
  filter: alpha(opacity=100)
}

logo {
  position: relative;
  top: 40px;
  display: inline-block;
  margin-top: -25px;
  margin-right: 3px;
}

a{
  color: #A05AF6;
}

a:hover{
  color: #CAA9FE;
}


section{
  float: left;
}

section.sidebar{
  position: absolute;
  padding-left: 8px;
  width: 214px;
}

section.sidebar li{
  padding-left: 8px;
  cursor: pointer;
  -moz-user-select:  none;
    -webkit-user-select:  none;
}
section.sidebar h1{
  font-size: 4em;
}
section.sidebar li.active{
  background-color: black;
  color: white;
}

section.sidebar p{
margin-bottom: 8px;
}
section.content{
  margin-left: 230px;
}
section.content li{
 list-style: none;
 float: left;
 position: relative;
}
section.content h2{
  margin-top: 16px;
  color: #FA5657;
  font-size: 2em;
}
section.content, section.sidebar{
  margin-top: 32px;
}

/* holds image */
.content section{
  z-index: 3;
}

/*holds info*/
.content article{

}

.info {
  width: 230px;
  height: 230px;
  float: left;
  background-color: black;
  color: white;
}

section.info{
  cursor: hand;
}
section.info img:hover{
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
}

article.info p{
padding: 8px;
}

