{::nomarkdown}
</p></div></div>
{% if include.url %}
<a class="fancybox" href="{{ include.url }}" target="_blank">{% endif %}
  <div class="clearfix slide photo_slide" style="background:url('{{ include.image }}')  center 0 no-repeat #d7d7d7; background-size: cover;">
    <div class="container clearfix">
      <div class="grid_12 clearfix">
        <div class="photo_caption">
          <h1>{{ include.tag_header }}</h1>
          <h2>{{ include.tag_body }}</h2>
        </div>
      </div>
    </div>
  </div>{% if include.url %}</a>{% endif %}
<div class="container clearfix">
  <div class="grid_10 body_content clearfix">
{:/nomarkdown}
