html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,
dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

html {
  background-color: #BBB;
  color: #BBB;
}

body {
  width: 940px;
  margin: 0 auto;
  font: 12px/18px "Helvetica Neue UltraLight", Helvetica, Arial, sans-serif;
}

header, nav, footer, section, /* convert some html5 elements into structural elements */
aside, figure {
  display: block;
}

article {
  display: inline-block;
}

h1, h2, h3 {
  background-color: #000;
  font-family: 'ITCAvantGardePro-XLtObl', 'HelveticaNeue-UltraLightItalic', 'Helvetica Neue UltraLight Italic', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: default;
}

h2 {
  font-size: 2em;
  margin-left: 4px;
}

p {
  margin: 0 0 9px;
  background-color: #000;
}

a {
  text-decoration: none;
  color: magenta;
}
a:hover {
  text-decoration: underline;
}

nav ul {
  display: inline;
}

nav li {
  display: inline;
}

nav li:hover:after {
  content: ' \00b7';
}
nav li:hover:before {
  content: ' \25B8 ';
}

/* each project in the dump is an article */
article {
  margin: 8px 16px;
}
article info {
  display: none;
}
article:hover info {
  display: block;
}

article h6 {
  margin-top: -12px;
  margin-left: -12px;
}

article img {
  padding-bottom: 16px;
}


section {
  display: block;
  margin-top: 20px;
  padding: 16px;
  background-color: white;
}

section p {
  padding: 0px 8px;
}

projectdump a {
  color: white;
}
projectdump a:hover {
  text-decoration: none;
}

info {
  position: absolute;
  background-color: black;
  height: 110px;
  width: 210px;
  margin-top: 108px;
  margin-left: 10px;
  margin-right: 20px;
  text-align: left;
  padding: 8px;
}

info linkto {
  font-size: 4em;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;
}

projectdump {
  display: block;
  margin-left: 64px;
}

nav {
  display: block;
  position: absolute;
  top: -45px;
  height: 68px;
  -webkit-transition: all 1s linear;
  opacity: 0.4;
  filter: alpha(opacity=40)
}

nav:hover {
  top: -15px;
  opacity: 1;
  filter: alpha(opacity=100)
}

logo {
  position: relative;
  top: 40px;
  display: inline-block;
  margin-top: -25px;
  margin-right: 3px;
}

center {
  margin-top: 36px;
}

a img {
    -webkit-transition: all 0.6s ease-in-out;
    -webkit-transform: scale(0.95) rotate(2deg);
}

a img:hover{
    -webkit-transform: scale(1) rotate(-2deg);
}

a.alt img {
  -webkit-transform: scale(0.95) rotate(-2deg);
}
a.alt img:hover{
    -webkit-transform: scale(1) rotate(2deg);
}
