html{
width: 2000px;
overflow-x: hidden;
}

body {
  margin: 0;
  padding: 2em;
  background-color: #bbb;
  color:#494949;
  font-family: "QuicksandBook", Verdana, Arial, Helvetica, sans-serif;
}

section#post{
  width: 800px;
  font-size: 1.5em;
}

section#post h3{
  text-shadow: 0px 1px 0px #e5e5ee;
}

.lt-ie8  .ieonly{
  display: inline-block;
}

.ieonly{
  display: none;
}