html.index{
width: 2000px;
overflow-x: hidden;
}

body {
  margin: 0;
  padding: 2em;
  background-color: #bbb;
  color:#494949;
  font-family: "QuicksandBook", Verdana, Arial, Helvetica, sans-serif;
}

#post{
  font-size: 1.5em;
  width: 800px;
  position: absolute;
  left: 275px;
  top: 0em;
}

.lt-1024 #post {
  left: 2em;
  top: 2em;
  margin-left: 0;
  padding-left: 0;
}

h1, h2, h3{
  text-shadow: 0px 1px 0px #e5e5ee;
  font-weight: normal;
}

 a{
  color: #222;
  text-shadow: 0px 1px 0px #8E8E96;
  text-decoration: none;
 }

 a:hover{
  color: #555;
  text-shadow: 0px -1px 0px #3E3E43;
  
 }

 a:visited {
  color: #555;
 }
 
 a.inline{
   border-bottom:2px dashed black;
 }
 
 a.selected{
   -webkit-border-top-left-radius: 8px;
   -webkit-border-top-right-radius: 8px;
   -moz-border-radius-topleft: 8px;
   -moz-border-radius-topright: 8px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   background-color: #333;
   color: #eee;
   text-shadow: 0px 1px 0px #000;
   padding-left: 1em;
   padding-right: 1em;
 }
 
.lt-ie8 .ieonly{
  display: inline-block !important;
}

.ieonly {
  display: none !important;
}

.lt-1024 #sidebar{
  display: none;
}

#sidebar{
  text-align: right;
  width:180px;
  height: 95%;
  border-right: 1px solid #999;
  padding-right: 2em;
}

#background {
  width:100%;
  height:100%;
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  top:0;
  left:0;
}

#popover{
  position: absolute;
  z-index: 99;
  top:0;
  text-align: center;
  width:100%;
}

blockquote{
  background: #5D5D5D url('../images/site/quotes.png') no-repeat top left;
  padding: 2em 1em 1em 1em;
  
  margin: 1em;
  font-size: 0.8em;
  color: #B3B3B3;
}

p.source{
  text-align: right;
  position: relative;
  margin-top: -0.8em;
  margin-right: 1em;
}

p.source:after{
  clear: both;
}

h4.code_heading {
  margin-bottom: -6px;
  text-shadow:none;
}

ul#archives li{
  list-style: none;
  clear: both;
  padding-top: 8px;

}
ul#archives div{
  float: left;
}
ul#archives div.date{
  font-size: 0.6em;
  padding-top: 10px;
  text-align:right;
  width: 150px;
  margin-right: 8px;
}