<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>ortatherox - {{ page.title }}</title>
    <!-- 03 jan 2011 -->
    <!-- 05 Oct 2012 -->
    <meta name="author" content="orta; http://orta.github.io/" />
    <meta name="title" content="orta therox" />
    <meta name="description" content="programmer and general rocker-outerer." />
    <meta
      name="keywords"
      content="orta, ios, ortatherox, design, designer, code, iphone, awesome, iphone games, iphone apps, cocoa, cocoa apps, therox, cocos2d, flash, as3, html, css, github"
    />
    <meta name="robots" content="all,follow" />
    <link rel="alternate" type="application/atom+xml" title="Atom Blog Feed" href="/blog.atom" />

    <link rel="stylesheet" href="/assets/fonts/stylesheet.css" />
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />
    <link rel="stylesheet" href="/assets/stylesheets/syntax.css" />

    <script src="/assets/javascripts/head.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <section id="sidebar" class="open">
      <a href="/"><img src="/assets/images/orta.jpg" alt="Orta"/></a>
      <h2><a href="/rebase">short form</a></h2>

      <h2>new pages</h2>
      {% for post in site.posts limit:6 %}
      <p>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </p>
      {% endfor %}
      <h2><a href="/archives">everything!</a></h2>
    </section>

    {{ content }}
  </body>
</html>
