<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>ortatherox</title>
  <!-- 03 jan 2011 -->
  <meta name="author"  content="orta; http://ortatherox.com/" /> 
  <meta name="title" content="ortatherox" /> 
  <meta name="description" content="programmer and general rockerouterer." /> 
  <meta name="keywords" content="orta, ortatherox, design, designer, code, iphone, awesome, iphone games, iphone apps, cocoa, cocoa apps, therox, cocos2d, flash, as3, html, css, github" /> 
  <meta name="robots" content="all,follow" /> 
  
  <!-- OpenID stuff --> 
  <link rel="openid.server" href="http://openid.claimid.com/server" /> 
  <link rel="openid.delegate" href="http://openid.claimid.com/orta" /> 
  
  <base href="http://orta.github.com/" />
  <!-- <base href="http://localhost:4000/" /> -->
  
  <link rel="stylesheet" href="assets/fonts/stylesheet.css">
  <link rel="stylesheet" href="assets/stylesheets/style.css?v=1">
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5057919-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</head>
<body>
  
  {{content}}
  
</body>
</html>
