<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
  <meta http-equiv="X-UA-Compatible" content="chrome=1"> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <title>ortatherox - {{ page.title }}</title>
  
  <!-- <base href="http://www.ortatherox.com/articles/" />  -->
  <!-- <base href="http://localhost:4000/old/" /> -->
  <base href="http://orta.github.com/old/" />
  
  <link rel="stylesheet" type="text/css" media="all" href="css/reset.css" /> 
  <link rel="stylesheet" type="text/css" media="all" href="css/text.css" /> 
  <link rel="stylesheet" type="text/css" media="all" href="css/960.css" /> 
  <link rel="stylesheet" type="text/css" media="all" href="css/style.css" /> 
  <script src="../assets/javascripts/head.js" type="text/javascript" charset="utf-8"></script>
  <script src="javascripts/shadowbox/shadowbox.js"></script> 
  <link rel="stylesheet" type="text/css" media="all" href="javascripts/shadowbox/shadowbox.css" /> 
  <style type="text/css" media="screen"> 
    
    @font-face {
    	font-family: 'QuicksandBook';
    	src: url('fonts/quicksand/quicksand_book-webfont.eot');
    	src: local('☺'), url('fonts/quicksand/quicksand_book-webfont.woff') format('woff'), url('fonts/quicksand/quicksand_book-webfont.ttf') format('truetype'), url('fonts/quicksand/quicksand_book-webfont.svg#webfontR4B8w6EV') format('svg');
    	font-weight: normal;
    	font-style: normal;
    }
    section h2, header{
      font: "QuicksandBook";
    }
  </style> 
</head> 
<body class="container_12"> 
<nav> 
  <logo><a href = "http://orta.github.com"><img src="images/title.png" width="151" height="55" alt="title" /></a></logo> 
  
  <ul> 
    <li><a href ="http://flickr.com/photos/ortatherox/">flickr</a></li> 
    <li><a href ="http://delicious.com/orta/">delicious</a></li> 
    <li><a href ="http://blog.ortatherox.com/">blog</a></li> 
    <li><a href ="http://ortatherox.com/site/Ben Maslen's Digital Portfolio.pdf">portfolio</a></li> 
    <li><a href ="mailto:orta.therox@gmail.com">email</a></li> 
    <li><a href ="http://vimeo.com/orta">vimeo</a></li> 
    <li><a href ="src.zip">source</a></li> 
  </ul> 
</nav> 
 
{{content}}
 
  <script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
try {
  var pageTracker = _gat._getTracker("UA-5057919-2");
  pageTracker._trackPageview();
  } catch(err) {}
  
  Shadowbox.init({});
  </script> 
</body> 
</html>