---
layout: default_2013
---

<script type="text/javascript">
if ((enforce == window.location.host) && (window.location.protocol != "https:"))
    window.location = window.location.toString().replace(/^http:/, "https:");  
</script>

<script src="/assets/javascripts/on_being/jquery-1.9.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/javascripts/on_being/jquery.fancybox.pack.js" type="text/javascript" charset="utf-8"></script>

<div class="slide headline container initial">
	<div class="grid_12 header-unit clearfix ">
		<h1>On<span style="font-size:84px">//</span>Being<span style="font-size:84px">//</span>{{ page.title }}</h1>	
	</div>
</div>

<div class="container clearfix"><div class="grid_10 clearfix body_content">
{{content}}
</div></div>

<script type="text/javascript">
  $(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
	